<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd"
>
    <router id="standard">
        <route id="yaroslavn_regularcustomer" frontName="yaroslav-n-regular-customer">
            <module name="YaroslavN_RegularCustomer"/>
        </route>
    </router>
</config>

    <!--
    HOME WORK. Task 4 . links
    https://yaroslav-n-magento.local/yaroslav-n-regular-customer/request/form
    -->
