<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd"
>
    <router id="standard">
        <route id="yaroslavn_cms" frontName="yaroslav-n-cms">
            <module name="YaroslavN_Cms"/>
        </route>
    </router>
</config>

    <!--
    https://yaroslav-n-magento.local/yaroslav-n-cms/foobar_yetanotherfolder/pageresponsedemo
    https://yaroslav-n-magento.us/catalogsearch/result/?q=+Joust+Duffle+Bag
    -->
