<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd"
>
    <event name="layout_generate_blocks_after">
        <observer name="yaroslav_n_controller_demo_dump_merged_layout_and_handles"
                  instance="YaroslavN\ControllerDemos\Observer\DumpMergedLayoutAndHandles"
        />
    </event>
</config>
